 <form action="/adduser" method="post">
  User name: <input type="text" name="username"><br>
  email: <input type="text" name="email"><br>
  url: <input type="text" name="url"><br>
  picture: <input type="text" name="picture"><br>
  <input type="submit" value="Submit">
</form> 